<% include partials/header.ejs %>


        <div class="col-md-12 col-sm-12 text-center text-block wrapper">
            <h3>404 ERROR</h3>
            <hr>
            <h4>Sorry, the file that is being accessed doesn't exist or isn't available.</h4>
            <hr>
        </div>


<% include partials/footer.ejs %>




