<% include partials/header.ejs %>


    <div class="results col-md-6 col-sm-6 text-block text-center wrapper center">


       <h4>
       Selected random game:
       <br>
       <br>
       <b><%= allGames.title%></b>.
       </h4>




     <!--  <% for(var i = 0; allGames.length; i++) { %>
            <li><%= allGames[i].title %></li>
      <% } %> -->



    </div>





<% include partials/footer.ejs %>
