<% include partials/header.ejs  %>

    <% if (!user) { %>
        <div class="col-md-12 col-sm-12 text-center text-block wrapper">
            <img class="gameImage" src="/images/meeples.jpeg">
            <h3>Welcome</h3>
            <hr>
            <h4><b>Boardgame Collector</b> is a web application where boardgame owners can inventory their
            game collection by searching within. The searched information are gathered from boardgamegeek.com database.
            Not only will you be able to have your collection at a glance but the application also has a random game
            selector for those game nights where picking a game to play can be difficult. Sign up now and
            start having your collection at the palms of your hand!
            </h4>
            <hr>
        </div>
    <% } %>

    <% if(user) { %>
        <div class="home col-md-6 col-sm-6 text-left text-block center">
            <form action="/results" method="get">
                <div class="form-group">
                    <label for="form-control">Game Title Search</label>
                    <input class="form-control" type="text" name="title" placeholder="Enter Title">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    <% } %>

<% include partials/footer.ejs %>