body {
    background-color: lightgray;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid black;
    margin: 1em 0; padding: 0;
}


a, p, h3, h4, h5, input, select, label {
    font-family: 'PT Sans Caption', sans-serif;
}

.gameImage {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrapper {
    margin-bottom: 60px;
}

.container-fluid {
    background-color: rgba(255,255,255,1);
    color: rgb(128,128,128);

}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}


